
body{
  background-color: #eceae0;
}

.container{
	width: 650px;
	margin: 0 auto;
}

.head_container{
  width: 650px;
  margin: 25px auto;
  background-color: #5cbdc9;
  padding: 2px 2px 1px 2px;
  text-align: center;
  border-radius: 5px;
}

.header{
	background: #9ad5dd url(../images/dots.png) repeat;
	border-radius: 5px;
}

.header img{
	margin: 15px auto;

}

h1{
	font-size: 25px;
	font-weight: 100;
	margin-bottom: 15px;
	margin-top: 30px;
	font-family: Georgia, serif;
	color: #3b2210;
}

.main_content p{
	margin-top: 10px;
}

.list li{
	list-style-type: none;
	display: inline-block;
	margin:15px 25px;
	font-weight: lighter;
	font-family: helvetica, sans-serif; 
	text-transform: uppercase;
	font-size: 13px;
	color: #33838f;
	text-shadow: 0 1px 1px #9fd7df;
	text-align: center;
	word-spacing: 3px;
	letter-spacing: 1px;
	line-height: 8px;
}

.main_content{
	float: left;
	width: 380px;
}

.main_content img{
	padding: 10px;
	background-color: #ffffff;
	box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
}

.main_content p{
	margin-top: 25px;
	font-weight: lighter;
	font-size: 16px;
	font-family: baskerville,serif;
	line-height: 16px;
}

.side_content2 {
	background-color: #dedbcb;
	float: right;
	width: 250px;
	overflow: hidden;
	padding: 3px;
	margin-left: 0;
}

.titles{
	overflow: hidden;
}

.titles h2, .products h2{
	padding: 10px 0 15px 10px;
	font-family: helvetica, sans-serif;
	text-transform: uppercase;
	color: #3b2210;
	font-size: 13px;

}

.titles img{
	float: left;
	margin-right: 10px;
	margin-left: 10px;
}

.titles img:nth-of-type(2){
	margin-top: 10px;
}

.titles p{
	float: left; 
	position: relative;
	background-color: #fff;
	width: 145px;
	font-size: 13px;
	font-family: helvetica, sans-serif;
	font-color: #555555;
	padding: 8px 15px 15px 10px;
	border-radius: 5px;
	margin-left: 10px;
	margin-top: 0;
	border: 1px solid #bbb8a6;
	line-height: 15px;
	margin-bottom: 10px;
}

.titles p:before{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -16px;
	top: 10px;
	border:8px solid;
	border-color: transparent #bbb8a6 transparent transparent;
}
.titles p:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -14px;
	top: 11px;
	border: 7px solid;
	border-color: transparent #fff transparent transparent;
}

 .products h2{
	padding: 15px 0 20px 10px;
}

.side_content2 img:nth-child(1n+3){
	padding: 10px;
	background-color: #ffffff;
	margin: 3px -2px 5px 10px;
}

.cust_comment{
	font-family: helvetica, sans-serif;
	font-color: #555555;
}