body{
  background-color: #EFE4C2;
  color: #333;
  font-family: helvetica, arial, sans-serif;
  line-height: 1.3em;
  display: flex;
}
.container {
  width: 75%;
  height: 700px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  /*border: 1px solid black;*/
}
/* ------------------------
 header and navigation area
 ------------------------*/
.header {
  width: 100%;
  height: 20%;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.header ul {
  list-style: none;
  padding: 0;
  margin: 0;

}
.header li {
  height: 40px;
  line-height: 40px;
  font-size: 1em;
  width: 130px;
  text-align: center;
  display: inline-block;
  margin-left: -5px;
}
.header a {
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  background-color: white;
}
/* ---------------
End of header area
----------------*/

.contentad, .action {
  width: 100%;
  height: 40%;
  display: flex;
}
.contentad {
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  text-align: left;
  display: flex;
  align-items: center;
}
.contentad p {
  width: 30%;
}
/*.image {
  background-image: url(../img/dogs.jpg);
  background-size: cover;
  transform: rotateX(90 deg);
  width: 200px;
  height: 200px;
}*/
.action {
  justify-content: space-between;
}
.aleft, .amiddle, .aright {
  margin-top: 25px;
  width: 32%;
  background-color: white;
}
.aleft {

}
