/* ipad styles */

@media screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  
{



form {
  width: 90%;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid red;
}

.button {
  clear: both;
  width: 100%;
  margin-top: 2px;
  padding: 13px;
  background-color: blue;
  color: white;
  text-align: center;
  margin: 0 auto;
}

input[type="text"]{
  border: none;
  padding: 15px;
  width: /*200px*/ 100%;
  font-size: .8em;
  float: left;
  /*margin-bottom: 30px;*/
  text-align: center;
  margin: 0 auto;
}

input[type="submit"]{
  clear: both;
  border: none;
  padding: 14px;
  background-color: blue;
  font-size: 1em;
  color: white;
  float: left;
  width: 100%;
  margin: 0 auto;
  /*display: none;*/
}

}