
@font-face {
    font-family: 'thirsty_rough_texturesregular';
    src: url('../fonts/thirstyroughtextures-webfont.eot');
    src: url('../fonts/thirstyroughtextures-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thirstyroughtextures-webfont.woff') format('woff'),
         url('../fonts/thirstyroughtextures-webfont.ttf') format('truetype'),
         url('../fonts/thirstyroughtextures-webfont.svg#thirsty_rough_texturesregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'thirsty_roughblack';
    src: url('../fonts/thirstyroughblack-webfont.eot');
    src: url('../fonts/thirstyroughblack-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thirstyroughblack-webfont.woff') format('woff'),
         url('../fonts/thirstyroughblack-webfont.ttf') format('truetype'),
         url('../fonts/thirstyroughblack-webfont.svg#thirsty_roughblack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'thirsty_roughblack_one';
    src: url('../fonts/thirstyroughblackone-webfont.eot');
    src: url('../fonts/thirstyroughblackone-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thirstyroughblackone-webfont.woff') format('woff'),
         url('../fonts/thirstyroughblackone-webfont.ttf') format('truetype'),
         url('../fonts/thirstyroughblackone-webfont.svg#thirsty_roughblack_one') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'thirsty_roughblack_shadow';
    src: url('../fonts/thirstyroughblackshadow-webfont.eot');
    src: url('../fonts/thirstyroughblackshadow-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thirstyroughblackshadow-webfont.woff') format('woff'),
         url('../fonts/thirstyroughblackshadow-webfont.ttf') format('truetype'),
         url('../fonts/thirstyroughblackshadow-webfont.svg#thirsty_roughblack_shadow') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'thirsty_roughblack_three';
    src: url('../fonts/thirstyroughblackthree-webfont.eot');
    src: url('../fonts/thirstyroughblackthree-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thirstyroughblackthree-webfont.woff') format('woff'),
         url('../fonts/thirstyroughblackthree-webfont.ttf') format('truetype'),
         url('../fonts/thirstyroughblackthree-webfont.svg#thirsty_roughblack_three') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'thirsty_roughblack_two';
    src: url('../fonts/thirstyroughblacktwo-webfont.eot');
    src: url('../fonts/thirstyroughblacktwo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thirstyroughblacktwo-webfont.woff') format('woff'),
         url('../fonts/thirstyroughblacktwo-webfont.ttf') format('truetype'),
         url('../fonts/thirstyroughblacktwo-webfont.svg#thirsty_roughblack_two') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'thirsty_roughbold_one';
    src: url('../fonts/thirstyroughboldone-webfont.eot');
    src: url('../fonts/thirstyroughboldone-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thirstyroughboldone-webfont.woff') format('woff'),
         url('../fonts/thirstyroughboldone-webfont.ttf') format('truetype'),
         url('../fonts/thirstyroughboldone-webfont.svg#thirsty_roughbold_one') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'thirsty_roughbold';
    src: url('../fonts/thirstyroughbold-webfont.eot');
    src: url('../fonts/thirstyroughbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thirstyroughbold-webfont.woff') format('woff'),
         url('../fonts/thirstyroughbold-webfont.ttf') format('truetype'),
         url('../fonts/thirstyroughbold-webfont.svg#thirsty_roughbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'thirsty_roughbold_shadow';
    src: url('../fonts/thirstyroughboldshadow-webfont.eot');
    src: url('../fonts/thirstyroughboldshadow-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thirstyroughboldshadow-webfont.woff') format('woff'),
         url('../fonts/thirstyroughboldshadow-webfont.ttf') format('truetype'),
         url('../fonts/thirstyroughboldshadow-webfont.svg#thirsty_roughbold_shadow') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'thirsty_roughbold_three';
    src: url('../fonts/thirstyroughboldthree-webfont.eot');
    src: url('../fonts/thirstyroughboldthree-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thirstyroughboldthree-webfont.woff') format('woff'),
         url('../fonts/thirstyroughboldthree-webfont.ttf') format('truetype'),
         url('../fonts/thirstyroughboldthree-webfont.svg#thirsty_roughbold_three') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'thirsty_roughbold_two';
    src: url('../fonts/thirstyroughboldtwo-webfont.eot');
    src: url('../fonts/thirstyroughboldtwo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thirstyroughboldtwo-webfont.woff') format('woff'),
         url('../fonts/thirstyroughboldtwo-webfont.ttf') format('truetype'),
         url('../fonts/thirstyroughboldtwo-webfont.svg#thirsty_roughbold_two') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'thirsty_roughlight_one';
    src: url('../fonts/thirstyroughlightone-webfont.eot');
    src: url('../fonts/thirstyroughlightone-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thirstyroughlightone-webfont.woff') format('woff'),
         url('../fonts/thirstyroughlightone-webfont.ttf') format('truetype'),
         url('../fonts/thirstyroughlightone-webfont.svg#thirsty_roughlight_one') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'thirsty_roughlight';
    src: url('../fonts/thirstyroughlight-webfont.eot');
    src: url('../fonts/thirstyroughlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thirstyroughlight-webfont.woff') format('woff'),
         url('../fonts/thirstyroughlight-webfont.ttf') format('truetype'),
         url('../fonts/thirstyroughlight-webfont.svg#thirsty_roughlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'thirsty_roughlight_shadow';
    src: url('../fonts/thirstyroughlightshadow-webfont.eot');
    src: url('../fonts/thirstyroughlightshadow-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thirstyroughlightshadow-webfont.woff') format('woff'),
         url('../fonts/thirstyroughlightshadow-webfont.ttf') format('truetype'),
         url('../fonts/thirstyroughlightshadow-webfont.svg#thirsty_roughlight_shadow') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'thirsty_roughlight_two';
    src: url('../fonts/thirstyroughlighttwo-webfont.eot');
    src: url('../fonts/thirstyroughlighttwo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thirstyroughlighttwo-webfont.woff') format('woff'),
         url('../fonts/thirstyroughlighttwo-webfont.ttf') format('truetype'),
         url('../fonts/thirstyroughlighttwo-webfont.svg#thirsty_roughlight_two') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'thirsty_roughregular';
    src: url('../fonts/thirstyroughregular-webfont.eot');
    src: url('../fonts/thirstyroughregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thirstyroughregular-webfont.woff') format('woff'),
         url('../fonts/thirstyroughregular-webfont.ttf') format('truetype'),
         url('../fonts/thirstyroughregular-webfont.svg#thirsty_roughregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'thirsty_roughregular_one';
    src: url('../fonts/thirstyroughregularone-webfont.eot');
    src: url('../fonts/thirstyroughregularone-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thirstyroughregularone-webfont.woff') format('woff'),
         url('../fonts/thirstyroughregularone-webfont.ttf') format('truetype'),
         url('../fonts/thirstyroughregularone-webfont.svg#thirsty_roughregular_one') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'thirsty_roughregular_shadow';
    src: url('../fonts/thirstyroughregularshadow-webfont.eot');
    src: url('../fonts/thirstyroughregularshadow-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thirstyroughregularshadow-webfont.woff') format('woff'),
         url('../fonts/thirstyroughregularshadow-webfont.ttf') format('truetype'),
         url('../fonts/thirstyroughregularshadow-webfont.svg#thirsty_roughregular_shadow') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'thirsty_roughregular_three';
    src: url('../fonts/thirstyroughregularthree-webfont.eot');
    src: url('../fonts/thirstyroughregularthree-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thirstyroughregularthree-webfont.woff') format('woff'),
         url('../fonts/thirstyroughregularthree-webfont.ttf') format('truetype'),
         url('../fonts/thirstyroughregularthree-webfont.svg#thirsty_roughregular_three') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'thirsty_roughregular_two';
    src: url('../fonts/thirstyroughregulartwo-webfont.eot');
    src: url('../fonts/thirstyroughregulartwo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thirstyroughregulartwo-webfont.woff') format('woff'),
         url('../fonts/thirstyroughregulartwo-webfont.ttf') format('truetype'),
         url('../fonts/thirstyroughregulartwo-webfont.svg#thirsty_roughregular_two') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'thirsty_roughlight_three';
    src: url('../fonts/thirstyroughlightthree-webfont.eot');
    src: url('../fonts/thirstyroughlightthree-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thirstyroughlightthree-webfont.woff') format('woff'),
         url('../fonts/thirstyroughlightthree-webfont.ttf') format('truetype'),
         url('../fonts/thirstyroughlightthree-webfont.svg#thirsty_roughlight_three') format('svg');
    font-weight: normal;
    font-style: normal;

}