* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body{
  background: #eee;
  color: #fff;
  font-family: Podkova, serif;
  font-size: 1.25em; /*20px;*/
  line-height: 1.3em;
}

.head_contain{
  width: 900px;
  margin: 0 auto;
  margin-top: 25px;
  padding-bottom: 8px;
  overflow: hidden;
}

.head_contain h1{
  color: #0FA5DD;
  float: left;
  padding: 25px;
  font-size: 60px;
  font-family: thirsty_roughbold_three;
  text-shadow: 2px 2px 3px rgba(2, 27, 75, 0.9);
}

.head_contain nav{
  margin-top: 20px;
  float: right;
  overflow: hidden;
}

.head_contain nav ul li{
  list-style-type: none;
  display: block;
  float: left;
}

.head_contain nav ul a{
  text-decoration: none; 
  display: block;
  font-family: 'Strait', sans-serif;
  font-size: 25px;
  color: #0FA5DD;
  margin-left: 30px;
  text-align: right;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-right: 2.5px;
  padding-left: 2.5px;
}

.head_contain nav ul a:hover{
  color: #021B4B;
  transition: all 200ms ease;
}


.img_contain{
  width: auto;
  background-color: #0b7096;
  padding: 20px;
}

.img_contain img{
  display: block;
  margin: 0 auto;
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.5);
}

.container{
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  color: black;
}

.contact{
  width: 900px;
  padding-top: 5px;
  margin: 0 auto;
  overflow: hidden;
}

.contact #social{
  float: right;
  width: 130px;
}


@media all and (max-width: 999px) and (min-width: 725px){

   .img_contain{
    width: 100%;
    padding: 20px;
   }

   .img_contain img{
    width: 90%;
   }

   .head_contain{
    width: 100%;
   }

   .head_contain nav{
    width: 75%;
    margin: 10px auto;
    float: none;
   }

   .head_contain nav ul{
    text-align: center;
    overflow: hidden;
    width: 505px;
    margin: 0 auto;
   }

   .head_contain nav ul li{
   text-align: center;
   }

   .head_contain h1{
    margin: 0 auto;
    float: none;
    width: 75%;
    text-align: center;
   }

   p{
    margin: 0 auto;
  }

  .contact{
    display: none;
  }

  .container{
    width: 100%;
  }
}


@media all and (max-width: 725px){

  .container{
    width: 100%;
  }

  .img_contain{
    width: 100%;
    padding: 20px;
   }

  .head_contain{
    width: 100%;
   }

   .img_contain img{
    width: 90%;
   }

   .head_contain h1{
    float: none;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
    }

   .head_contain nav{
    display: none;
   }

   .contact{
    display: none;
   }

}
















