* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


body {
  background-color: #000000;
  color: #333;
  line-height: 1.3em;
  font-family: 'Ubuntu', sans-serif;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1em;
}
.container {
  width: 100%;
  height: 100%;
}

.top {
  width: 100%;
  height: 90px;
  background-color: black;
  overflow: hidden;
}

.nav{
  width: 950px;
  margin: 65px auto; 
}


.nav li {
  color: white;
  font-family: 'Exo 2', sans-serif;
  text-transform: uppercase;
  display: inline-block;
  text-align: left;
  width: 150px;
  padding-bottom: 10px;
}

.nav li:nth-of-type(-2n+3) {
  width: 55px;
}

.nav li:nth-of-type(2) {
  width: 70px;
}

.middle {
  height: 610px;
  width: 100%;
  background-color: black;
}

.L1 {
  width: 950px;
  height: 610px;
  background-color: white;
  margin: 0 auto;
}

.ml, .mr {
  float: left;
  height: 610px;
}

.ml {
  width: 35%;
   background-image: url("../img/code.png");
  background-size: cover;
  background-position: 2% 100%;
 
}

.mr {
  width: 65%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mr div{
  width: 80%;
  text-align: left;
  padding: 5px;
}

.mr ul {
  text-align: center;
}
.mr ul li {
  display: inline-block;
}

.mr ul li a {
  color: #000000;
}

.bottom {
  width: 100%;
  height: 90px;
  background-color: #000000;
}

.bottomcontain {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
}

.foot1 {
  width: 470px;
  color: #ffffff;
  font-family: 'Exo 2', sans-serif;
  padding: 5px 0 0 0;
  float: left;
}

.foot2 p {
  width: 470px;
  color: #ffffff;
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-size: 1em;
  text-align: right;
  padding: 10px 0 0 0;
  float: right;
}

.foot2 a {
  font-size: 1em;
}